.addpost {
	margin: 0px 40px;
	padding: 0px 30px;
	text-align: center;	}
.rubrics {	text-align: center;	}
.addPassage {	display: inline-block;	width: 450px;	margin: 20px 0;
	padding: 26px;
	box-shadow: 0 0 3px #ccc;
	background-color: whitesmoke;	}
.addMP {	margin: 20px;
	padding: 3px 10px;
	background-color: #eee;
	box-shadow: 0 0 3px #777 inset;
 	cursor: pointer;
 	width: 100px;
    display: inline-block;	}
.preview {	width: 320px;
	min-height: 150px;
	border: 1px solid grey;
	display: inline-block;
	//background-color: #fff;	}
.loadButton {	width: 100px;	margin: 5px;
	padding: 4px 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 3px inset;
	display: inline-block;
	cursor: pointer;	}
.rubricsTable {	display: inline-block;	}
.preview img {	max-width: 300px;
	max-height: 150px;
	}
.inline {	display: inline-block;	}
.smallButton {	cursor: pointer;	padding: 5px 2px;
	margin: 5px;
	border: 1px solid #ccc;
	background-color: #eee;
	box-shadow: 0 0 3px;
	width: 150px;	}
h1.header {	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom:-20px;	}
.label {	margin: 10px;
	font-size: 18px;
	color: green;	}
.examle_holder {
	display: none;	}
.examle_holder textarea{
	background-color: whitesmoke;
	}
.red {	background-color: orange;
	border: 1px solid red;	}
.hide {
	display: none;	}
.editPost {	text-align: center;
	display: inline-block;	width: 800px;	}
.fullsizeImg{
	display: inline-block;	}
.content {	text-align:center;	}
